<?xml version='1.0' encoding='utf-8'?>
<widget id="com.victorbjelkholm.clojulator" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Clojulator</name>
    <description>
      A calculator made with Clojurescript + om
    </description>
    <author email="victorbjelkholm@gmail.com" href="https://github.com/victorbjelkholm">
      Victor Bjelkholm
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <access origin="*" />
    <engine name="ios" spec="~4.1.1" />
    <preference name="xwalkVersion" value="xwalk_core_library_beta:18+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="~1.7.0" />
    <engine name="android" spec="~5.1.1" />
</widget>
