html, body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  background-color: #3E505C;
}
#wrapper {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
}
#results, #input {
  position: absolute;
  left: 0px;
  right: 0px;
  padding-right: 30px;
  padding-top: 5%;
  background-color: #FFA774;
  box-sizing: border-box;
  border: none;
  font-family: sans-serif;
  text-align: right;
  width: 100%;
}
#results {
  top: 0vh;
  height: 10vh;
  color: white;
  font-size: 40px;
}
#input {
  top: 10vh;
  height: 10vh;
  color: #BA7043;
  font-size: 20px;
  margin-top: -1px;
}
#buttons {
  position: absolute;
  top: 20vh;
  height: 80vh;
  left: 0px; right: 0px;
}
.button {
  display: block;
  position: relative;
  background-color: #3E505C;
  float: left;
  width: calc(100% / 4);
  height: calc(100% / 5);
  padding-top: calc(80vh / 12);
  text-align: center;
  border: 1px solid #3C4C58;
  box-sizing: border-box;
  color: white;
  -webkit-transition: all 50ms ease-in-out;
  -moz-transition: all 50ms ease-in-out;
  -o-transition: all 50ms ease-in-out;
  -ms-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button:active {
  background-color: #455663;
}
